body{
  border-style:none;
  padding: 0;
}
div.navigation{
  position:absolute;
   top:0%;
   left:1%;
  width:13%;
  margin-left:0%;
  border:none;
  color:black;
  font-size: x-small;
}
a{
  color:darkblue;
}

table{
  width:100%;
}

table.scheduleSheet{
  font-size: x-small;
}

th.schedule_sheet_day{
  font-size: xx-small;
  white-space: nowrap;
}

del{
  background-color: pink;
}
ins{
  background-color: skyblue;
}

div.navigation input{
  width:100%;
}

div.navigation a{
  white-space:pre;
}

div.navigation a:before{
}

div.navigation a:after{
  content:"\A";
}

div.navigation img{
  width:100%;
}

a.l2:before{
  content:"  ";
}

div.main{
  line-height:130%;
  margin-left:15%;
  border-left:solid;
  padding-left:5px;
}

@media print{
   div.navigation{
       display:none;
   }

   div.main{
       margin-left: 2%;
       margin-right:2%;
       border-left: none;
       padding-left: 0pt;
   }
}

h1{
  border-style: double;
  border-width: 5px;
  padding: 8px;
}

h2{
  border-style: solid;
  border-width: 2px;
  padding: 5px;
}

h3{
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}

td.strong{
  background-color:lightblue;
}

.calender_sun{
   background-color: #fcc;
}

.calender_sat{
   background-color: #8cf;
}

.holiday{
   background-color: #fcc;
}

.Sun{
   background-color: #fcc;
}

.Sat{
   background-color: #8cf;
}
